__pycache__/config.cpython-312.pyc
кое-что/whisper.txt
кое-что/sber voice/secret_key.txt
кое-что/gigachat.txt
кое-что/config.txt
кое-что/config.py
кое-что/План Бурдин, Лаптев.docx
кое-что/Задания.docx
идеи для бота.txt
